body{
    background-image: url(img/sun.jpg);
    background-repeat: no-repeat;
    color:darkslateblue;
    font-size: 87.5%;
    font-family: sans-serif;
    line-height: 1.5;
    text-align: left;
     -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

a{
    text-decoration: none;
}

a:link, a:visited {
    color: red;
    
}

a:hover, a:activated{
    background-color: red;
    color:white;
    
    
}

section{
    margin:0 auto;
    width: 70%;
    clear:both;
}


.mainheader nav{
    background-color: orange;
    height: 40px;
    border-radius: 5px;
   -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    
}

.mainheader nav ul{
    list-style: none;
    margin: 0 auto;
}

.mainheader nav ul li{
    float: left;
    display: inline;
}

.mainheader nav a:link, .mainheader nav a:visited{
    color: black;
    display: inline-block;
    padding: 10px 25px;
    height: 20px;
}

.mainheader nav a:hover, .mainheader nav a:active, .mainheader nav .active a:visited{
    
    background-color:cornflowerblue;
    text-shadow: none;
      border-radius: 5px;
   -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.mainheader nav ul li a{
      border-radius: 5px;
   -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.maincontent{
      border-radius: 5px;
   -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    line-height: 25px;
}

.content{
    width: 70%;
    float: left;
    margin: 10px 0 10px 0;
      border-radius: 5px;
   -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.topcontent{
      border-radius: 5px;
   -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: white;
    padding: 3% 5%;
    margin-top: 2px;
}

.bottomcontent{
      border-radius: 5px;
   -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: white;
    padding: 3% 5%;
    margin-top: 10px;
}
.post-info{
    font-style: italic;
    color:gray;
    font-size: 90%;
}
.top-sidebar{
    width: 21%;
    float: left;
    background-color: white;
      border-radius: 5px;
   -moz-border-radius: 5px;
    -webkit-border-radius: 5px;  
    margin-left: 3%;
    padding: 2% 3%;
    margin: 2% 0 2% 3%;
}

.middle-sidebar{
    width: 21%;
    float: left;
    background-color: white;
      border-radius: 5px;
   -moz-border-radius: 5px;
    -webkit-border-radius: 5px;  
    margin-left: 3%;
    padding: 2% 3%;
    margin-bottom: 2%;
}

.bottom-sidebar{
    width: 21%;
    float: right;
    background-color: white;
      border-radius: 5px;
   -moz-border-radius: 5px;
    -webkit-border-radius: 5px;  
    margin-left: 3%;
    padding: 2% 3%;
    margin-bottom: 2%;
}

.mainFooter{
    width: 100%;
    float: left;
       border-radius: 5px;
   -moz-border-radius: 5px;
    -webkit-border-radius: 5px;  
    background: cornflowerblue;
    margin: 0 0;
    height: 40px;
}

.mainFooter p{
    width: 92%;
    margin: 10px auto;
    color: white;
}

@media only screen and (min-width: 150px) and (max-width:600px){

    section{
    width: 90%;
    font-size: 95%;
    }  
    
    
    .mainheader nav{
    height: 160px;
}

.mainheader nav ul{
    padding-left: 0;
}

.mainheader nav ul li{
   width: 100%;
    text-align: center;
    
}

.mainheader nav a:link, .mainheader nav a:visited{
   padding: 10px 25px;
    height: 20px;
    display: block;
}

.mainheader nav a:hover, .mainheader nav a:active, .mainheader nav .active a:visited{
    
      border-radius: 5px;
   -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

        
    
.content{
    width: 100%;
    float: left;
    margin-top: 2%;
}

.topcontent{
      border-radius: 5px;
   -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: white;
    padding: 3% 5%;
    margin-top: 2px;
}

.bottomcontent{
      border-radius: 5px;
   -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: white;
    padding: 3% 5%;
    margin-top: 3%;
    margin-bottom: 4%;
}

.top-sidebar{
    width: 94%;
    float: left;
    background-color: white;
    padding: 2% 3%;
    margin: 2% 0 2% 0%;
}

.post.info{
    display: none;
}

.middle-sidebar{
    width: 94%;
    float: left;
    background-color: white; 
    margin: 2% 0 2% 0;
    padding: 2% 3%;
}

.bottom-sidebar{
    width: 94%;
    float: left;
    background-color: white; 
    padding: 2% 3%;
    margin: 2% 0 2% 0;
}
    
}

